/*   Menu    */

.menuhorizontal {
    display: flex;
    margin-top: -45px;
}

.menuhorizontal li {
    display: flex;
    margin-top: -45px;
    width: 200px;
    border-left: #000000 solid;
}

ul>li :hover{
    color: black;
    background-color: #ff8800;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
    border-left: 1px solid black;
    margin-top: -5px;
}
.menuhorizontal a {
    display:flex;
    text-decoration: none;
    padding: 10px;
    width: 120px;
    height: 28px;
    color: white;
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

/*   Menu      */